<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="413085947600-pqac57sjp2dn2oo95fko266m6dq1v7dc.apps.googleusercontent.com">
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="google_login" method="get">
      <input type="submit" value="登入">
    </form>
  </body>
</html>
