body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user_avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
